In [2]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_csv('../results/selected_deaths/1000/0.01/0.5/replicate.23.csv')
df2 = pd.read_csv('../results/selected_deaths/1000/0.01/0.5/replicate.53.csv')

In [4]:
df1

   t  count     n        s    h
0  2      2  1000  0.00001  0.5

In [5]:
df2

   t  count     n        s    h
0  1      1  1000  0.00001  0.5

In [6]:
# List of file paths
file_paths = ['../results/selected_deaths/1000/0.01/0.5/replicate.23.csv', 
              '../results/selected_deaths/1000/0.01/0.5/replicate.53.csv']

# Initialize an empty list to store dataframes
dfs = []

# Loop through file paths and read each CSV into a dataframe
for file_path in file_paths:
    dfs.append(pd.read_csv(file_path))

# Combine all dataframes into a single dataframe
combined_df = pd.concat(dfs, ignore_index=True)
print(combined_df)

   t  count     n        s    h
0  2      2  1000  0.00001  0.5
1  1      1  1000  0.00001  0.5

In [7]:
outfile = 'test_cobined.csv'
combined_df.to_csv(outfile, index=False)